<div class="message" id="m{{ message['id'] }}">
	<span class="time">{{ message['datetime'] }}</span>
	<span class="uid">{{ message["uid"] }}</span>
    <b>said:</b> {% module linkify(message["body"]) %}
</div>
